.offer-exclusive__icon-point {
  max-width: 170px;
  min-height: 170px;
  transform: rotate(-15deg);
  position: absolute;
  top: 400px;
  left: 150px;
}

@media (max-width: 1380px) {
  .offer-exclusive__icon-point {
   opacity: 0;
  }
}