.header__background-ellips {
  width: 657px;
  height: 380px;
  border-radius: 657.8px;
  box-sizing: border-box;
  opacity: .5;
  background: #8241EF;
  filter: blur(80px);
  transform: rotate(-140deg);
  position: absolute;
  top: 150px;
  right: 230px;
  z-index: 1;
}

@media (max-width: 767px) {
  .header__background-ellips {
   opacity: 0;
  }
}