.offer-buying__image-buble {
  width: 500px;
  height: 545px;
  transform: rotate(-13deg);
  position: absolute;
  top: -50px;
  right: -55px;
  z-index: 1;
}

@media (max-width: 1051px) {
  .offer-buying__image-buble{
    visibility: hidden;
  }
}